:root {
    --blue: rgb(219, 229, 228);
    --textDarkBlue: rgb(69, 78, 78);
    --backgroundColor: rgb(245, 246, 246);
    --backgroundColorTrans: rgba(245, 246, 246, .9);
    --changeTextColor: rgb(57, 57, 172);
}

p {
    font-size: large;
    color:var(--textDarkBlue);
}

.page {
    /* overflow-x: hidden; */
    background-color: var(--backgroundColor);
    background-image: url(photos/export.png);
    background-size: contain;
    /* background-attachment: fixed; */
    width: 100vw;
    min-height: 500px;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page::-webkit-scrollbar {
    display: none;
}

.navigation {  
    z-index: 1;
    box-sizing: border-box; 
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    position: fixed;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--backgroundColorTrans);
    padding-top: 2.5vh;
}


div.navigation nav a {
    font-size: large;
    padding: 10px;
    color: var(--textDarkBlue);
    margin-right: 2.5vh;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    float: right;
    transition: font-size .5s;
    animation-name: largerText;
    animation-duration: 1s;
    opacity: 100%;
    transition-duration: 1s;
}

div.navigation nav a:hover {
    /* font-size: larger; */
    color: var(--changeTextColor);
}

@keyframes largerText {
    from{
        font-size: medium;
    } to {
        font-size: large;
    }
}
